<h3>What's in your cart?</h3>

<h4>You have...</h4>
<p><%=@cookie%> Cookies</p>
<p><%=@cake%> Cakes </p>
<p><%=@pie%> Pies </p>


<!-- <form action="https://formspree.io/your@email.com" method="POST" />
<form method="POST" action="https://formspree.io/YOUREMAILHERE">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Test Message"></textarea>
  <button type="submit">Send Test</button>
</form> -->
