<h1>Cookies</h1>

<div class="forsale">

  <div class="">
    <h3> <%= @c1.name %> </h3>
  </div>

  <div class="">
    <p> $<%= @c1.price %></p>
  </div>

  <div class="">
    <p> <%= @c1.description %></p>
  </div>


  <div class="">
    <img id="cookie" src="<%= @c1.url %>" alt="">
  </div>

</div>
