<h1>Cookies</h1>

<div class="forsale">

  <div class="">
    <h3> <%= @cookie1.name %> </h3>
  </div>

  <div class="">
    <p> $<%= @cookie1.price %></p>
  </div>

  <div class="">
    <p> <%= @cookie1.description %></p>
  </div>


  <div class="">
    <img class="foodimg" src="<%= @cookie1.url %>" alt="">
  </div>
  <button id="buyCookie" type="button" name="button" onclick="buyCookie()" >Add to cart</button>
  <!-- <button id="cookieThatsIt" type="button" name="button">Is Thats It?</button> -->

</div>
