<h1 id="title"> Welcome to the Bake Sale </h1>

<div class="items">
  <!-- <div class="cakes"> -->
    <img class="home_imgs" src="http://www.bennisonscakes.com/images/tortes/rum.jpg" alt="1">
  <!-- </div> -->

  <!-- <div class="pies"> -->
    <img class="home_imgs" src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fimage%2F2017%2F10%2Fmain%2Farkansas_black_apple_pie_with_caramel_sauce_2540501_pieso_675.jpg%3Fitok%3DiUlqw3oU&w=700&q=85" alt="2">
  <!-- </div> -->

  <!-- <div class="cookies"> -->
    <img class="home_imgs" src="https://edgarsbakery.com/wp-content/uploads/2015/11/Prod-cookies.jpg" alt="3">
  <!-- </div> -->
</div>


<!-- group pie -->
<!-- <img src="https://previews.123rf.com/images/greenartphotography/greenartphotography1705/greenartphotography170500029/78876567-homemade-pastry-apple-pies-bakery-products-on-dark-wooden-kitchen-table-with-raisins-cinnamon-bluebe.jpg" alt=""> -->
