<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bake Sale</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/cakes">Cake</a> </li>
        <li><a href="/pies">Pies</a> </li>
        <li><a href="/cookies">Cookies</a> </li>
      </ul>
    </nav>

    <div class="main">
      <%= yield %>
    </div>

    <script src="../javascript/javascript.js" charset="utf-8"></script>
  </body>
</html>
