body{
  background-color: #f9f4d9;
}

*{
  font-family: 'Libre Baskerville', serif;
}

a{
  padding-left: 5%;
  text-decoration: none;
  // color: black;
  color: brown;
  // color: #958682;
  // color: #4A2A1D;
}


h1{
  text-align: center;
}

img{
  height: 200px;
}
